body{
    height: 2900px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.BANNER{
    width: 100%;
    height: 496,8;
    overflow: hidden;
}

.HEADER01{
    z-index: +2;
    color: white;
    height: 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    position: fixed;
    top: 0;
    left: 0;
}

.IMG_BANNER01{
    z-index: -1;
    width: 100%;
    height: 552px;
    position: absolute;
    top: -2rem;
    left: 0;
}

.HEADER_LOGO{
    height: 3rem;
    margin-top: -0.5rem;
}

.UL_HEADER{
    width: 100%;
    list-style: none;
    display: inline-block;
    color: white;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    font-size: 90%;
}


.LI_LOGO{
    text-align: left;
    display: inline-block;
    margin-left: -8rem;
    margin-right: 12rem;
}

.LI01{
    display: inline-block;
    top: -2.2rem;
    margin-left: 4rem;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.LI02{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.IMG_NOSSOS_CURSOS{
    margin-left: 0.5rem;
    width: 8px;
    height: 8px;
}

.LI03{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.LI04{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.LI05{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.LI06{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.IMG_MAIS{
    margin-left: 0.5rem;
    width: 8px;
    height: 8px;
}

.LI07{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.LI08{
    display: inline-block;
    top: -2.2rem;
    margin-right: 30px;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.IMG_AREA_RESTRITA{
    margin-right: 1rem;
    width: 10px;
    height: 15px;
}

.TXT_BANNER{
    z-index: +1;
    position: absolute;
    top: 9rem;
    left: 23rem;
    color: white;
}

.COLEGIO_COTEMIG_TXT_BANNER{
    font-size: 240%;
    font-weight: 900;
}

.INOVADOR_TXT_BANNER{
    font-size: 130%;
    font-weight: 300;
    text-align: left;
}

.CLIQUE_AQUI_TXT_BANNER:hover{
    background: #50d60d;
}

.CLIQUE_AQUI_TXT_BANNER{
    display: block;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: .875em;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    background: #40aa0b;
    cursor: pointer;
}

#LINKS_HEADER:hover{
    color: #40aa0b;
}

#LINKS_HEADER{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.LINK_CLIQUE_AQUI{
    text-decoration: none;
    color: white;
}


/* CURSOS */

.CURSOS{
    padding-top: 33rem;
    width: 1920px;
}

.ESCOLHA{
    font-size: 250%;
    font-weight: 900;
}

.PROTAGONIZAR_HISTORIA{
    font-size: 125%;
    font-weight: 400;
}


     /* BOX COLÉGIO TÉCNICO */
     .COLEGIO_TECNICO{
        text-align: left;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: absolute;
        top: 48rem;
        left: 21.25rem;
        overflow: hidden;
        width: 273.6px;
        height: 300px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(169,169,169,50%);
    }
     
         /* IMG BOX COLÉGIO TÉCNICO */
         .IMG_CURSOS01{
            width: 342px;
            height: 165.6px;
            margin-left: -34.2px;
        }
        
        .TXT_COLEGIO_TECNICO{
            position: absolute;
            top: 6rem;
            text-align: left;
            font-size: 160%;
            font-weight: 900;
            color: white;
            margin-left: 1rem;
        }


        /* LISTAS BOX COLÉGIO TÉCNICO */
        .LISTAS_COLEGIO_TECNICO{
            text-align: left;
        }
        /* LISTA01 BOX COLÉGIO TÉCNICO */
        .UL01_COLEGIO_TECNICO{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL01_COLEGIO_TECNICO{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE01{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL01_COLEGIO_TECNICO{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        
        .LI03_UL01_COLEGIO_TECNICO{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }

        /* LISTA02 BOX COLÉGIO TÉCNICO */
        .UL02_COLEGIO_TECNICO{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL02_COLEGIO_TECNICO{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE02{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL02_COLEGIO_TECNICO{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        #ponto{
            color: white;
            margin: 0;
        }
        
        .LI03_UL02_COLEGIO_TECNICO{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }





     /* BOX GRADUAÇÕES */
     .GRADUACOES{
        text-align: left;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: absolute;
        top: 48rem;
        left: 40.30rem;
        overflow: hidden;
        width: 273.6px;
        height: 378px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(169,169,169,50%);
    }
     
         /* IMG BOX GRADUAÇÕES */
         .IMG_CURSOS02{
            width: 342px;
            height: 165.6px;
            margin-left: -34.2px;
        }
        
        .TXT_GRADUACOES{
            position: absolute;
            top: 7.5rem;
            text-align: left;
            font-size: 160%;
            font-weight: 900;
            color: white;
            margin-left: 1rem;
        }


        /* LISTAS BOX GRADUAÇÕES */
        .LISTAS_GRADUACOES{
            text-align: left;
        }
        /* LISTA01 BOX GRADUAÇÕES */
        .UL01_GRADUACOES{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL01_GRADUACOES{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE03{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL01_GRADUACOES{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        #ponto{
            color: white;
            margin: 0;
        }
        
        .LI03_UL01_GRADUACOES{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }

        /* LISTA02 BOX GRADUAÇÕES */
        .UL02_GRADUACOES{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL02_GRADUACOES{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE04{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL02_GRADUACOES{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        #ponto{
            color: white;
            margin: 0;
        }
        
        .LI03_UL02_GRADUACOES{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }

        /* LISTA03 BOX GRADUAÇÕES */
        .UL03_GRADUACOES{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL03_GRADUACOES{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE05{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL03_GRADUACOES{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        #ponto{
            color: white;
            margin: 0;
        }
        
        .LI03_UL03_GRADUACOES{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }
    




     /* BOX PÓS-GRADUAÇÕES */
     .POS_GRADUACOES{
        text-align: left;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: absolute;
        top: 48rem;
        left: 59.70rem;
        overflow: hidden;
        width: 273.6px;
        height: 310px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(169,169,169,50%);
    }
     
         /* IMG BOX PÓS-GRADUAÇÕES */
         .IMG_CURSOS03{
            width: 342px;
            height: 165.6px;
            margin-left: -34.2px;
        }
        
        .TXT_POS_GRADUACOES{
            position: absolute;
            top: 7.5rem;
            text-align: left;
            font-size: 160%;
            font-weight: 900;
            color: white;
            margin-left: 1rem;
        }


        /* LISTAS BOX PÓS-GRADUAÇÕES */
        .LISTAS_POS_GRADUACOES{
            text-align: left;
        }
        /* LISTA01 BOX PÓS-GRADUAÇÕES */
        .UL01_POS_GRADUACOES{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL01_POS_GRADUACOES{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE06{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL01_POS_GRADUACOES{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        
        .LI03_UL01_POS_GRADUACOES{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }

        /* LISTA02 BOX PÓS-GRADUAÇÕES */
        .UL02_POS_GRADUACOES{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL02_POS_GRADUACOES{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE07{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL02_POS_GRADUACOES{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        .LI03_UL02_POS_GRADUACOES{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }





     /* BOX CURSOS DE MEDIA E CURTA DURACAO */
     .CURSOS_MEDIA_LONGA_DURACAO{
        text-align: left;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: absolute;
        top: 48rem;
        left: 79.2rem;
        overflow: hidden;
        width: 273.6px;
        height: 230px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(169,169,169,50%);
    }
     
         /* IMG BOX CURSOS DE MEDIA E CURTA DURACAO */
         .IMG_CURSOS04{
            width: 342px;
            height: 165.6px;
            margin-left: -34.2px;
        }
        
        .TXT_CURSOS_MEDIA_LONGA_DURACAO{
            position: absolute;
            top: 6rem;
            text-align: left;
            font-size: 160%;
            font-weight: 900;
            color: white;
            margin-left: 1rem;
        }


        /* LISTAS BOX CURSOS DE MEDIA E CURTA DURACAO */
        .LISTAS_CURSOS_MEDIA_LONGA_DURACAO{
            text-align: left;
        }
        /* LISTA01 BOX CURSOS DE MEDIA E CURTA DURACAO */
        .UL01_CURSOS_MEDIA_LONGA_DURACAO{
            list-style: none;
            display: inline-block;
        }
        
        .LI01_UL01_CURSOS_MEDIA_LONGA_DURACAO{
            display: inline-block;
            margin-left: -1.5rem;
        }
        
        .MICRO_FIGURE08{
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }
        
        
        .LI02_UL01_CURSOS_MEDIA_LONGA_DURACAO{
            display: inline-block;
            font-size: 90%;
            font-weight: 500;
            color: black;
            margin-left: 0.5rem;
        }
        
        .LINKS_CURSOS:hover{
            color: #40aa0b;
        }
        
        .LINKS_CURSOS{
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        
        
        .LI03_UL01_CURSOS_MEDIA_LONGA_DURACAO{
            display: inline-block;
        }
        
        .SETA{
            width: 8px;
            height: 8px;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }




/* NOSSAS UNIDADES */

.NOSSAS_UNIDADES{
padding-top: 28rem;
}

.TXT_TITULO_NOSSAS_UNIDADES{
    font-size: 260%;
    font-weight: 900;
}

.TXT_SUB-TITULO_NOSSAS_UNIDADES{
    font-size: 110%;
    font-weight: 400;
    line-height: 25px;
}

.CENTRAL_ATENDIMENTO_NOSSAS_UNIDADES{
    padding-top: 28rem;
    padding-left: 4.5rem;
    font-size: 140%;
}

.CONTATO_CENTRAL_ATENDIMENTO_NOSSAS_UNIDADES{
    font-size: 200%;
    font-weight: 900;
    color: #40aa0b;
}

.ICON_CONTATO_CENTRAL_ATENDIMENTO{
    width: 48px;
    height: 48px;
    margin-bottom: -0.8rem;
    margin-right: 1rem;
}


     /* BARROCA */

     .BARROCA:hover{
        top: 89rem;
        border-width: 1px;
        border-bottom-width: 3px;
     }

     .BARROCA{
        position: absolute;
        top: 90rem;
        left: 20rem;
        width: 383px;
        height: 328px;
        overflow: hidden;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: white;
        transition: 0.5s;
        border-width: 0px;
        border-bottom-width: 0px;
        border-style: solid;
        border-color: rgba(0,0,0,20%);
     }

     .LINK_BARROCA{
        text-decoration: none;
     }

        /* IMG BARROCA */

        .IMG_BARROCA{
            width: 383px;
            height: 200px;
        }

        /* TXT BARROCA */

        .TXT_BARROCA{
            width: 383px;
            height: 128px;
            color: black;
        }

        .COLEGIO_BARROCA{
            font-size: 130%;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .ENDERECO_COLEGIO_BARROCA{
            line-height: 1.9rem;
        }

        .ENDERECO_E_ICONE_BARROCA{
            font-weight: 500;
        }

        .ICON_ENDERECO_BARROCA{
            margin-bottom: -0.4rem;
        }

        #ENDERECO_BARROCA{
            margin-left: 0.9rem;
        }




     /* FLORESTA */

     .FLORESTA:hover{
        top: 89rem;
        border-width: 1px;
        border-bottom-width: 3px;
     }

     .FLORESTA{
        position: absolute;
        top: 90rem;
        left: 47rem;
        width: 383px;
        height: 328px;
        overflow: hidden;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: white;
        transition: 0.5s;
        border-width: 0px;
        border-bottom-width: 0px;
        border-style: solid;
        border-color: rgba(0,0,0,20%);
     }

     .LINK_FLORESTA{
        text-decoration: none;
     }

        /* IMG FLORESTA */

        .IMG_FLORESTA{
            width: 383px;
            height: 200px;
        }

        /* TXT FLORESTA */

        .TXT_FLORESTA{
            width: 383px;
            height: 128px;
            color: black;
        }

        .COLEGIO_FLORESTA{
            margin-left: 1rem;
            text-align: left;
            font-size: 130%;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .ENDERECO_COLEGIO_FLORESTA{
            line-height: 1.9rem;
        }

        .ENDERECO_E_ICONE_FLORESTA{
            font-weight: 500;
        }

        .ICON_ENDERECO_FLORESTA{
            margin-bottom: -0.4rem;
        }

        #ENDERECO_FLORESTA{
            margin-left: 2.2rem;
        }





     /* ESCRITÓRIO CENTRAL */

     .ESCRITORIO_CENTRAL:hover{
        top: 89rem;
        border-width: 1px;
        border-bottom-width: 3px;
     }

     .ESCRITORIO_CENTRAL{
        position: absolute;
        top: 90rem;
        left: 74rem;
        width: 383px;
        height: 328px;
        overflow: hidden;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: white;
        transition: 0.5s;
        border-width: 0px;
        border-bottom-width: 0px;
        border-style: solid;
        border-color: rgba(0,0,0,20%);
     }

     .LINK_ESCRITORIO_CENTRAL{
        text-decoration: none;
     }

        /* IMG ESCRITÓRIO CENTRAL */

        .IMG_ESCRITORIO_CENTRAL{
            width: 383px;
            height: 200px;
        }

        /* TXT ESCRITÓRIO CENTRAL */

        .TXT_ESCRITORIO_CENTRAL{
            width: 383px;
            height: 128px;
            color: black;
        }

        .UNIDADE_ESCRITORIO_CENTRAL{
            margin-left: 1rem;
            text-align: left;
            font-size: 130%;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .ENDERECO_UNIDADE_ESCRITORIO_CENTRAL{
            line-height: 1.9rem;
        }

        .ENDERECO_E_ICONE_ESCRITORIO_CENTRAL{
            font-weight: 500;
        }

        .ICON_ENDERECO_ESCRITORIO_CENTRAL{
            margin-bottom: -0.4rem;
        }

        #ENDERECO_ESCRITORIO_CENTRAL{
            margin-left: 2.4rem;
        }





/* NOTÍCIAS E NOVIDADES */

.NOTICIAS_E_NOVIDADES{
    padding-top: 5rem;
}

.TITULO_TXT_NOTICIAS_E_NOVIDADES{
    font-size: 260%;
    font-weight: 900;
    display: inline-block;
    margin: 0;
    padding-left: 23rem;
}

.BOX_LINK_VER_TODAS{
    padding-left: 15rem;
}

.LINK_VER_TODAS{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.TXT_VER_TODAS{
    display: inline-block;
}

.SETA_NOTICIAS_E_NOVIDADES{
    width: 8px;
    height: 8px;
    margin-bottom: 0;
    margin-left: 0.5rem;
    display: inline-block;
}

    /* CARD01 NOTICIAS E NOVIDADES */

    .CARD01_NOTICIAS_E_NOVIDADES{
        width: 278px;
        height: 324px;
        overflow: hidden;
        border-radius: 12px;
        position: absolute;
        top: 132rem;
        left: 22.3rem;
    }

    .LINK_CARD01_NOTICIAS_E_NOVIDADES{
        text-decoration: none;
        color: white;
    }

        /* IMG CARD01 NOTICIAS E NOVIDADES */

        .IMG_CARD01_NOTICIAS_E_NOVIDADES:hover{
            transform: scale(1.2);
        }

        .IMG_CARD01_NOTICIAS_E_NOVIDADES{
            z-index: -2;
            width: 278px;
            height: 324px;
            overflow: hidden;
            border-radius: 12px;
            transition: transform 1s;
        }

        /* TXT CARD01 NOTICIAS E NOVIDADES */

        .TXT_CARD01_NOTICIAS_E_NOVIDADES{
            width: 278px;
            height: 128px;
            position: absolute;
            top: 196px;
        }

        .TITULO_TXT_CARD01_NOTICIAS_E_NOVIDADES{
            width: 268px;
            height: 69px;
            text-align: left;
            margin-left: 20px;
            margin-top: 22px;
            margin-bottom: 0;
            line-height: 23px;
            font-size: 100%;
        }

        .DATA_TXT_CARD01_NOTICIAS_E_NOVIDADES{
            width: 122px;
            height: 15px;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 22px;
            margin-top: 3px;
        }





    /* CARD02 NOTICIAS E NOVIDADES */

    .CARD02_NOTICIAS_E_NOVIDADES{
        width: 278px;
        height: 324px;
        overflow: hidden;
        border-radius: 12px;
        position: absolute;
        top: 132rem;
        left: 40.8rem;
    }

    .LINK_CARD02_NOTICIAS_E_NOVIDADES{
        text-decoration: none;
        color: white;
    }

        /* IMG CARD02 NOTICIAS E NOVIDADES */

        .IMG_CARD02_NOTICIAS_E_NOVIDADES:hover{
            transform: scale(1.2);
        }

        .IMG_CARD02_NOTICIAS_E_NOVIDADES{
            z-index: -2;
            width: 278px;
            height: 324px;
            overflow: hidden;
            border-radius: 12px;
            transition: transform 1s;
        }

        /* TXT CARD02 NOTICIAS E NOVIDADES */

        .TXT_CARD02_NOTICIAS_E_NOVIDADES{
            width: 278px;
            height: 128px;
            position: absolute;
            top: 196px;
        }

        .TITULO_TXT_CARD02_NOTICIAS_E_NOVIDADES{
            width: 268px;
            height: 69px;
            text-align: left;
            margin-left: 20px;
            margin-top: 22px;
            margin-bottom: 0;
            line-height: 23px;
            font-size: 100%;
        }

        .DATA_TXT_CARD02_NOTICIAS_E_NOVIDADES{
            width: 121px;
            height: 15px;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 22px;
            margin-top: 3px;
        }




       
    /* CARD03 NOTICIAS E NOVIDADES */

    .CARD03_NOTICIAS_E_NOVIDADES{
        width: 278px;
        height: 324px;
        overflow: hidden;
        border-radius: 12px;
        position: absolute;
        top: 132rem;
        left: 59.3rem;
    }

    .LINK_CARD03_NOTICIAS_E_NOVIDADES{
        text-decoration: none;
        color: white;
    }

        /* IMG CARD03 NOTICIAS E NOVIDADES */

        .IMG_CARD03_NOTICIAS_E_NOVIDADES:hover{
            transform: scale(1.2);
        }

        .IMG_CARD03_NOTICIAS_E_NOVIDADES{
            z-index: -2;
            width: 278px;
            height: 324px;
            overflow: hidden;
            border-radius: 12px;
            transition: transform 1s;
        }

        /* TXT CARD03 NOTICIAS E NOVIDADES */

        .TXT_CARD03_NOTICIAS_E_NOVIDADES{
            width: 278px;
            height: 151px;
            position: absolute;
            top: 173px;
        }

        .TITULO_TXT_CARD03_NOTICIAS_E_NOVIDADES{
            width: 268px;
            height: 92px;
            text-align: left;
            margin-left: 20px;
            margin-top: 22px;
            margin-bottom: 0;
            line-height: 23px;
            font-size: 100%;
        }

        .DATA_TXT_CARD03_NOTICIAS_E_NOVIDADES{
            width: 130px;
            height: 15px;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 22px;
            margin-top: 3px;
        }
        
        



    /* CARD04 NOTICIAS E NOVIDADES */

    .CARD04_NOTICIAS_E_NOVIDADES{
        width: 278px;
        height: 324px;
        overflow: hidden;
        border-radius: 12px;
        position: absolute;
        top: 132rem;
        left: 77.8rem;
    }

    .LINK_CARD04_NOTICIAS_E_NOVIDADES{
        text-decoration: none;
        color: white;
    }

        /* IMG CARD04 NOTICIAS E NOVIDADES */

        .IMG_CARD04_NOTICIAS_E_NOVIDADES:hover{
            transform: scale(1.2);
        }

        .IMG_CARD04_NOTICIAS_E_NOVIDADES{
            z-index: -2;
            width: 278px;
            height: 324px;
            overflow: hidden;
            border-radius: 12px;
            transition: transform 1s;
        }

        /* TXT CARD04 NOTICIAS E NOVIDADES */

        .TXT_CARD04_NOTICIAS_E_NOVIDADES{
            width: 278px;
            height: 151px;
            position: absolute;
            top: 173px;
        }

        .TITULO_TXT_CARD04_NOTICIAS_E_NOVIDADES{
            width: 268px;
            height: 92px;
            text-align: left;
            margin-left: 20px;
            margin-top: 22px;
            margin-bottom: 0;
            line-height: 23px;
            font-size: 100%;
        }

        .DATA_TXT_CARD04_NOTICIAS_E_NOVIDADES{
            width: 127px;
            height: 15px;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 22px;
            margin-top: 3px;
        }
    





/* RODAPÉ */

.RODAPE{
    width: 100%;
    height: 555px;
    background-color: black;
    position: absolute;
    top: 155rem;
    left: 0;
    color: white;
}

#LINKS_RODAPE{
    text-decoration: unset;
    color: white;
}



    /* LINKS RODAPÉ */

    #LINKS_RODAPE{
        text-decoration: unset;
        color: white;
    }

        /* SOBRE NÓS */

        .SOBRE_NOS{
            list-style: none;
            text-align: left;
            width: 150px;
            position: absolute;
            top: 2rem;
            left: 22rem;
        }

        .LI_SOBRE_NOS{
            width: 196px;
            height: 37px;
            font-size: 120%;
        }

        .TXT_TITULO_LI_RODAPE{
            margin: 0;
            margin-left: 0.5rem;
            word-spacing: 5px;
            font-weight: 700;
        }

        .LI_LINKS_UL01:hover{
            background-color: rgba(46,46,46, 100%);
        }
        
        .LI_LINKS_UL01{
            margin-top: 0.5rem;
            width: 148px;
            height: 27px;
            transition: 0.3s;
            border-radius: 5px;
        }

        .TXT_LI_RODAPE{
            margin: 0;
            margin-left: 0.5rem;
            word-spacing: 5px;
            font-weight: 300;
            font-size: 90%;
        }

        
        /* NOSSOS_CURSOS */

        .NOSSOS_CURSOS{
            list-style: none;
            text-align: left;
            width: 300px;
            position: absolute;
            top: 2rem;
            left: 35rem;
        }

        .LI_NOSSOS_CURSOS{
            width: 294px;
            height: 37px;
            font-size: 120%;
        }

        .TXT_TITULO_LI_RODAPE{
            margin: 0;
            margin-left: 0.5rem;
            word-spacing: 5px;
            font-weight: 700;
        }

        .LI_LINKS_UL02:hover{
            background-color: rgba(46,46,46, 100%);
        }
        
        .LI_LINKS_UL02{
            margin-top: 0.5rem;
            width: 246px;
            height: 27px;
            transition: 0.3s;
            border-radius: 5px;
        }

        .TXT_LI_RODAPE{
            margin: 0;
            margin-left: 0.5rem;
            word-spacing: 5px;
            font-weight: 300;
            font-size: 90%;
        }


        /* OUTROS */

        .OUTROS{
            list-style: none;
            text-align: left;
            width: 250px;
            position: absolute;
            top: 2rem;
            left: 53rem;
        }

        .LI_OUTROS{
            width: 245px;
            height: 37px;
            font-size: 120%;
        }

        .TXT_TITULO_LI_RODAPE{
            margin: 0;
            margin-left: 0.5rem;
            word-spacing: 5px;
            font-weight: 700;
        }

        .LI_LINKS_UL03:hover{
            background-color: rgba(46,46,46, 100%);
        }
        
        .LI_LINKS_UL03{
            margin-top: 0.5rem;
            width: 200px;
            height: 27px;
            transition: 0.3s;
            border-radius: 5px;
        }

        .TXT_LI_RODAPE{
            margin: 0;
            margin-left: 0.5rem;
            word-spacing: 5px;
            font-weight: 300;
            font-size: 90%;
        }



    /* O COMEÇO */

    .O_COMECO{
        position: absolute;
        top: 2rem;
        left: 71rem;
        text-align: left;
        width: 384px;
    }

        /* TXT O COMEÇO */

        .TITULO_O_COMECO{
            margin: 0;
            margin-top: 1rem;
        }

        .TXT_O_COMECO{
            font-weight: 300;
        }

        .LINK_CRIE_SUAS_POSSIBILIDADES{
            text-decoration: none;
        }

        .CRIE_SUAS_POSSIBILIDADES_TXT_RODAPE:hover{
            background: #50d60d;
        }
        
        .CRIE_SUAS_POSSIBILIDADES_TXT_RODAPE{
            display: block;
            width: 100%;
            margin-top: 2em;
            padding: 1em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-size: .875em;
            font-weight: 700;
            color: #fff;
            border-radius: 8px;
            background: #40aa0b;
            cursor: pointer;
        }



/* LOGO E CREDITOS */

.LOGO_E_CREDITOS{
    position: absolute;
    top: 21rem;
    left: 25.5rem;
    text-align: left;
    width: 384px;
    height: 176px;
}

.LOGO_RODAPE{
    width: 115px;
    height: 64px;
    margin-bottom: 2rem;
}

.CREDITS01{
    font-weight: 100;
    margin: 0;
}

.LINK_CREDITS:hover{
    text-decoration: underline;
}

.LINK_CREDITS{
    text-decoration: none;
    color: white;
}

.CREDITS02{
    font-weight: 100;
    margin: 0;
}




/* SOCIAIS */

#footersocial1{
    position: absolute;
    top: 21rem;
    left: 45rem;
}

#socialtittle1{
    color: white;
    position: relative;
    top: 0rem;
    left: -4.5rem;
    font-family: "Lato",sans-serif;
    font-size: 100%;
    font-weight: 400;
}

#iconsociais1{
    list-style: none;
}

#fundofb1{
    width: 68px;
    height: 48px;
    background-color: #4460A0;
    border-radius: 12px;
}

#fb1{
    align-items: center;
    margin-top: 10px;
}

#fundoig1{
    width: 68px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

#ig1{
    align-items: center;
    margin-top: 12px;
}

#fundoin1{
    width: 68px;
    height: 48px;
    background-color: #007AB9;
    border-radius: 12px;
}

#in1{
    align-items: center;
    margin-top: 9px;
}

#fundott1{
    width: 68px;
    height: 48px;
    background-color: #00AAEC;
    border-radius: 12px;
}

#tt1{
    align-items: center;
    margin-top: 15px;
}

.socialicons{
    display: inline-block;
    margin-left: 1rem;
}

.nomesocial{
    color: #424242;
    font-family: "Lato",sans-serif;
    font-size: 75%;
    font-weight: 400;
}

#footersocial2{
    position: relative;
    top: 21rem;
    left: 25rem;
}

#socialtittle2{
    color: white;
    position: relative;
    top: 0rem;
    left: -4.5rem;
    font-family: "Lato",sans-serif;
    font-size: 100%;
    font-weight: 400;
}

#iconsociais2{
    list-style: none;
}

#fundofb2{
    width: 68px;
    height: 48px;
    background-color: #4460A0;
    border-radius: 12px;
}

#fb2{
    align-items: center;
    margin-top: 10px;
}

#fundoig2{
    width: 68px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

#ig2{
    align-items: center;
    margin-top: 12px;
}

#fundoin2{
    width: 68px;
    height: 48px;
    background-color: #007AB9;
    border-radius: 12px;
}

#in2{
    align-items: center;
    margin-top: 9px;
}

#fundott2{
    width: 68px;
    height: 48px;
    background-color: #00AAEC;
    border-radius: 12px;
}

#tt2{
    align-items: center;
    margin-top: 15px;
}









